.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 1;
}
.username{
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 12px;
}
.password{
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 12px;
}
.login-text{
    text-align: center;
    font-size: 28px;
    font-family: monospace;
}
.login-btn{
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color: black;
    border: 1px solid white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;;
}
.login-btn:hover{
  background-color: black;
  color: white;
}
.design {
  position: absolute;
  top: 0;
  left: -23%; 
  width: 100vh; 
  height: 100vh;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.design img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.design2 {
  position: absolute;
  top: 10%;
  bottom: -8%;
  left: 55%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.design2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}